.footer__column-links{
    color: white;
    margin:20px auto 16px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    list-style-type: none;
    text-decoration: none;
    padding:0;
  }